<table>
  <thead>
  <tr>
    <th>Visit Number</th>
    <th>Admitted At</th>
    <th>Discharged At</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% encounters.each do |encounter| %>
      <tr>
        <td><%= encounter.visit_number %></td>
        <td><%= l encounter.admitted_at, format: :concise if encounter.admitted_at.present?%></td>
        <td><%= l encounter.discharged_at, format: :concise if encounter.discharged_at.present? %></td>
        <td><%= link_to 'Show', encounter %> |
            <%= link_to 'Edit', edit_encounter_path(encounter) %> |
            <%= link_to 'Destroy', encounter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

